<footer id="myFooter" class="container-fluid w-100 bg-dark py-3">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h5>Get started</h5>
				<ul>
					<li><a routerLink="/home">Home</a></li>
					<li><a routerLink="/contact">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>About us</h5>
				<ul>
					<li><a href="#">Company Information</a></li>
					<li><a routerLink="/about">About Us</a></li>
					<li><a href="#">Reviews</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Support</h5>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Help desk</a></li>
					<li><a href="#">Forums</a></li>
				</ul>
			</div>
			<div class="col-sm-3 info">
				<h5>Information</h5>
				<p> Lorem ipsum dolor amet, consectetur adipiscing elit. Etiam consectetur aliquet aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
			</div>
		</div>
	</div>
</footer>