<div class="container">
  <br>
  <h3 align="center">FOOD DETAILS</h3>
  <button class="btn btn-primary btn-raised" data-toggle="modal" data-target="#details">ADD NEW</button>
  <table class="table">
    <thead class="thead-dark" align="center">
      <tr><th>TITLE</th><th>DESCRIPTION</th><th>COST</th><th>COUNT</th><th>OPTIONS</th></tr>
    </thead>
    <tr *ngFor='let f of upfdservice.foods'>
      <td>{{f.title}}</td>
      <td>{{f.desc}}</td>
      <td>{{f.cost | currency:'INR'}}</td>
      <td>{{f.count}}</td>
      <td style="width:100px">
        <div class="btn-group" role="group" aria-label="options">
          <button class="btn btn-dark btn-raised" data-toggle="modal" data-target="#details" (click)="fUpdate(f)">EDIT</button>
          <button class="btn btn-danger btn-raised" (click)="fDelete(f._id)">DELETE</button>
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formLabel">FOOD FORM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #upfdForm='ngForm' (ngSubmit)="onSubmit(upfdForm)">
          <input class="form-control" type="hidden" name="_id" #_id="ngModel" [(ngModel)]="upfdservice.selectedFood._id">
          <input class="form-control" type="text" name="title" #title="ngModel" [(ngModel)]="upfdservice.selectedFood.title" placeholder="NAME"><br>
          <input class="form-control" type="text" name="desc" #desc="ngModel" [(ngModel)]="upfdservice.selectedFood.desc" placeholder="DESCRIPTION"><br>
          <input class="form-control" type="text" name="cost" #cost="ngModel" [(ngModel)]="upfdservice.selectedFood.cost" placeholder="COST"><br>
          <input class="form-control" type="number" name="count" #count="ngModel" [(ngModel)]="upfdservice.selectedFood.count" placeholder="COUNT"><br>
          <div class="btn-group float-right" role="group" aria-label="options">
            <button type="submit" class="btn btn-raised btn-primary">SUBMIT</button>
            <button type="reset" class="btn btn-default">RESET</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>