<br>
<div class="card mx-auto" style="width: 80rem;">
  <div class="card-body">
	  <div class="jumbotron jumbotron-fluid">
		<div class="container">
		  <h1 align="center">SIGNUP</h1>
		</div>
	  </div>
	  <div class="container">
		  <form>
			  <div class="form-row">
				  <div class="form-group col-md-12">
					  <label for="inputName" class="bmd-label-floating">Name</label>
					  <input type="text" class="form-control" id="inputName">
				  </div>
			  </div>
			  <div class="form-row">
				  <div class="form-group col-md-6">
					  <label for="inputEmail" class="bmd-label-floating">Email</label>
					  <input type="email" class="form-control" id="inputEmail">
					  <span class="bmd-help">We'll never share your email with anyone else.</span>
				  </div>
				  <div class="form-group col-md-6">
					  <label for="inputPassword" class="bmd-label-floating">Password</label>
					  <input type="password" class="form-control" id="inputPassword">
					  <span class="bmd-help">Enter 8-14 characters.</span>
				  </div>
			  </div>
			  <div class="form-group">
				  <label for="inputAddress" class="bmd-label-floating">Address</label>
				  <input type="text" class="form-control" id="inputAddress">
			  </div>
			  <div class="form-row">
				  <div class="form-group col-md-4">
					  <label for="inputCity" class="bmd-label-floating">City</label>
					  <input type="text" class="form-control" id="inputCity">
				  </div>
				  <div class="form-group col-md-4">
					  <label for="inputPCode" class="bmd-label-floating">Pincode</label>
					  <input type="text" class="form-control" id="inputPCode">
				  </div>
				  <div class="form-group col-md-4">
					  <label for="inputState" class="bmd-label-floating">State</label>
					  <input type="text" class="form-control" id="inputState">
				  </div>
			  </div>
			  <div class="input-group">
				  <div class="checkbox">
					  <label><input type="checkbox">
						  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">T&C</button>
						  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
							  <div class="modal-dialog" role="document">
								  <div class="modal-content">
									  <div class="modal-header"><h5 class="modal-title" id="exampleModalLongTitle">T&C</h5></div>
									  <div class="modal-body">
										  Lorem ipsum dolor amet, consectetur adipiscing elit. Etiam consectetur aliquet aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus.
									  </div>
									  <div class="modal-footer">
										  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									  </div>
								  </div>
							  </div>
						  </div>
					  </label>
				  </div>
			  </div>
			  <div class="form-group">
				  <button type="button" class="btn btn-raised btn-primary" data-toggle="snackbar" data-content="SUCCESSFUL! <a href='/login' class='btn btn-info'>LOGIN FROM HERE!</a>" data-html-allowed="true" data-timeout="0">
					  SIGNUP
				  </button>
				  <button type="reset" class="btn btn-rasied btn-default">RESET</button>
				  <a routerLink="/login" type="login" class="btn btn-info float-right" value="Login">Login</a>
			  </div>
		  </form>
	  </div>
  </div>
</div>
<br>