<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 align="center">SIGNUP</h1>
  </div>
</div>
<div class="container">
	<form>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputFName" class="bmd-label-floating">First Name</label>
				<input type="text" class="form-control" id="inputFName">
			</div>
			<div class="form-group col-md-6">
				<label for="inputLName" class="bmd-label-floating">Last Name</label>
				<input type="text" class="form-control" id="inputLName">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputEmail4" class="bmd-label-floating">Email</label>
				<input type="email" class="form-control" id="inputEmail4">
			</div>
			<div class="form-group col-md-6">
				<label for="inputPassword4" class="bmd-label-floating">Password</label>
				<input type="password" class="form-control" id="inputPassword4">
			</div>
		</div>
		<div class="form-group">
			<label for="inputAddress" class="bmd-label-floating">Address</label>
			<input type="text" class="form-control" id="inputAddress">
		</div>
		<div class="form-group">
			<label for="inputAddress2" class="bmd-label-floating">Address 2</label>
			<input type="text" class="form-control" id="inputAddress2">
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-raised btn-primary" data-toggle="snackbar" data-content="LOGIN FROM <a href='/login' class='btn btn-info'>HERE</a>" data-html-allowed="true" data-timeout="0">
				SIGNUP
			</button>
			<button type="reset" class="btn btn-rasied btn-default">RESET</button>
		</div>
	</form>
</div>