<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="header">Find the best food in Kolkata</h1>
    <p class="header">Order here...</p>
  </div>
</div>
<div class="row" align="center">
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
	<div class="card text-white bg-dark" style="width: 18.5rem; height: 33rem;">
	  <img class="card-img-top" src="../../assets/dosa.jpg" alt="Dosa">
	  <div class="card-body">
		<h5 class="card-title">Dosa</h5>
		<p class="card-text">A dosa is a cooked flat thin layered rice batter, originating from the Indian subcontinent, made from a fermented batter...</p>
		<div class="card-footer" align="center"><a href="#" class="btn btn-primary">Add to Cart</a></div>
	  </div>
	 </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
	<div class="card text-white bg-dark" style="width: 18.5rem; height: 33rem;">
	  <img class="card-img-top" src="../../assets/idli.jpg" alt="Idli">
	  <div class="card-body">
		<h5 class="card-title">Idli</h5>
		<p class="card-text">Idli is a type of savoury rice cake, originating from the Indian subcontinent, popular as breakfast foods...</p>
		<div class="card-footer" align="center"><a href="#" class="btn btn-primary">Add to Cart</a></div>
	  </div>
	 </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
	<div class="card text-white bg-dark" style="width: 18.5rem; height: 33rem;">
	  <img class="card-img-top" src="../../assets/poha.jpg" alt="Poha">
	  <div class="card-body">
		<h5 class="card-title">Poha</h5>
		<p class="card-text">Poha is rice which is flattened into flat, light, dry flakes originating from the Indian subcontinent...</p>
		<div class="card-footer" align="center"><a href="#" class="btn btn-primary">Add to Cart</a></div>
	  </div>
	 </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
	<div class="card text-white bg-dark" style="width: 18.5rem; height: 33rem;">
	  <img class="card-img-top" src="../../assets/vada.jpg" alt="Vada">
	  <div class="card-body">
		<h5 class="card-title">Vada</h5>
		<p class="card-text">Vada is a category of savoury fried snacks from India. Different types of vadas can be described variously as fritters, cutlets, doughnuts...</p>
		<div class="card-footer" align="center"><a href="#" class="btn btn-primary">Add to Cart</a></div>
	  </div>
	 </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
	<div class="card text-white bg-dark" style="width: 18.5rem; height: 33rem;">
	  <img class="card-img-top" src="../../assets/uttapam.jpg" alt="Uttapam">
	  <div class="card-body">
		<h5 class="card-title">Uttapam</h5>
		<p class="card-text">Uttapam is a type of dosa from South India. Unlike a typical dosa, which is crisp and crepe-like, uttapam is a thick pancake, with toppings...</p>
		<div class="card-footer" align="center"><a href="#" class="btn btn-primary">Add to Cart</a></div>
	  </div>
	 </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
	<div class="card text-white bg-dark" style="width: 18.5rem; height: 33rem;">
	  <img class="card-img-top" src="../../assets/omelet.jpg" alt="Omelette">
	  <div class="card-body">
		<h5 class="card-title">Omelette</h5>
		<p class="card-text">Omelette is a dish made from beaten eggs fried with butter or oil in a frying pan...</p>
		<div class="card-footer" align="center"><a href="#" class="btn btn-primary">Add to Cart</a></div>
	  </div>
	 </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
	<div class="card text-white bg-dark" style="width: 18.5rem; height: 33rem;">
	  <img class="card-img-top" src="../../assets/coffee.jpg" alt="Coffee">
	  <div class="card-body">
		<h5 class="card-title">Coffee</h5>
		<p class="card-text">Coffee is a brewed drink prepared from roasted coffee beans, the seeds of berries from certain Coffea species...</p>
		<div class="card-footer" align="center"><a href="#" class="btn btn-primary">Add to Cart</a></div>
	  </div>
	 </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
	<div class="card text-white bg-dark" style="width: 18.5rem; height: 33rem;">
	  <img class="card-img-top" src="../../assets/chocolate-milk.jpg" alt="Chocolate Milk">
	  <div class="card-body">
		<h5 class="card-title">Chocolate Milk</h5>
		<p class="card-text">Chocolate milk is sweetened chocolate-flavored milk. It can be made by mixing chocolate syrup (or chocolate powder) with milk...</p>
		<div class="card-footer" align="center"><a href="#" class="btn btn-primary">Add to Cart</a></div>
	  </div>
	 </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
	<div class="card text-white bg-dark" style="width: 18.5rem; height: 33rem;">
	  <img class="card-img-top" src="../../assets/samosa.jpg" alt="Samosa">
	  <div class="card-body">
		<h5 class="card-title">Samosa</h5>
		<p class="card-text">A samosa is a fried or baked dish with a savoury filling, such as spiced potatoes, onions, peas, or lentils...</p>
		<div class="card-footer" align="center"><a href="#" class="btn btn-primary">Add to Cart</a></div>
	  </div>
	 </div>
  </div>
</div>