<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="header">Find the best food in {{city}}</h1>
    <p class="header">Order here...</p>
  </div>
</div>
<div class="row" align="center">
  <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12" *ngFor="let f of upfdservice.foods">
	<div class="card text-white bg-dark" style="width: 18.5rem; height: 33rem;">
	  <img class="card-img-top" src="../../assets/dosa.jpg" alt="Dosa">
	  <div class="card-body">
		<h5 class="card-title">{{f.title}}</h5>
		<p class="card-text">{{f.desc}}...</p>
    <div class="card-footer" style="color:black">
      <div class="container">
        <div class="row">
          <div class="col-4" id="cost" style="font-size: 15px">
            <b>{{f.cost | currency:'INR'}}</b>
          </div>
          <div class="col-4">
            <form class="form-horizontal">
              <input type="number" class="form-control" id="orderc" style="width: 5;" min=0 max={{f.count}}>
            </form>
          </div>
          <div class="col-4">
            <a href="#" class="btn btn-xs btn-primary">Add</a>
          </div>
        </div>
      </div>
		</div>
	  </div>
	 </div>
  </div>
</div>